/* Mobile UI Tab */
@media (max-width: 799px) {
    .mobile-app-icon-bar {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      background: none;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 48px;
      z-index: 2;
    }
    .mobile-app-icon-bar > a {
      width: 100%;
      height: 100%;
    }
    .at-expanding-share-button[data-position="bottom-right"] {
      bottom: 58px !important;
    }
    .foureightheight {
      display: block;
      height: 48px;
    }
  }
  @media (max-width: 992px) {
    a.scroll-up {
      bottom: 100px;
    }
  }
  .buttonstyle.active {
    color: #fff !important;
  }
  .buttonstyle {
    width: 100%;
    height: 100%;
    display: block;
    flex-direction: column;
    align-items: center;
    background: rgb(39, 107, 176) !important;
    color: #ffffff;
    border: none;
    font-size: 18px;
    margin-top: 0px;
    border-radius: 0px;
  }
  .fa-solid, .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 800;
    font-size: 16px;
  }
  .spanstyle {
    font-size: 14px;
    margin-top: 5px;
  }
  .darkmode .buttonstyle {
    background: #2c3442;
    color: #667c99;
  }
  .mobile-app-icon-bar button {
    padding: 0.75rem !important;
    cursor: pointer;
  }
  .mobile-app-icon-bar a {
    user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
  }
  .mobile-app-icon-bar a:focus,
  .buttonstyle:focus {
    outline: none;
  }
  @media (min-width: 800px) {
    .mobile-app-icon-bar {
      display: none !important;
    }
    .foureightheight {
      display: none;
    }
  }